@import 'common/headers'
body, html
  size 100%
  position relative
  padding 0
  margin 0
  font-family 'Open Sans', sans-serif
  font-size 16px
  word-wrap break-word
  // & > *:first-child
  //   min-width 100%
  //   min-height 100%

.Wrapper
  max-width 1200px
  margin 0 auto
  padding 20px
.FlexWrapper
  margin 0 auto
  display flex
  justify-content space-around
  flex-flow row wrap
  align-items stretch
.FlexItem
  padding 10px
  align-items center

a, a:visited, a:active
  // color #fff
  color #900
  display block
