@import 'common/headers'
body, html
  size 100%
  position relative
  padding 0
  margin 0
  font-family 'Open Sans', sans-serif
  font-size 16px
  word-wrap break-word
  // & > *:first-child
  //   min-width 100%
  //   min-height 100%
main
  min-height 100%
  width 100%
  height auto
  background #fffe84

.Wrapper
  max-width 1200px
  margin 0 auto
  padding 20px
.FlexWrapper
  margin 0 auto
  display flex
  justify-content space-between
  flex-flow row wrap

.FlexItem
  padding 10px
  align-items flex-start

a, a:visited, a:active
  // color #fff
  color #900
  display block
