// @import url("https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic")
@import 'common/headers'
body, html
  size 100%
  position relative
  padding 0
  margin 0
  font-family 'Open Sans', sans-serif
  font-size 16px
  word-wrap break-word
  & > *
    size 100%


// body
//   background #ecec5f

.Wrapper
  max-width 1200px
  margin 0 auto
.FlexWrapper
  margin 0 auto
  display flex
  justify-content space-around
  flex-flow row wrap
  align-items stretch
.FlexItem
  padding 10px
  align-items center

a, a:visited, a:active
  // color #fff
  color #900
  display block
