.participant-list
  font-size 1em
  text-align left
  padding: 1em 0
  max-width 600px
  &__item
    color = #812e2e
    color #fff
    margin 1em 0
    transition all .5s ease-in
    cursor pointer
    border-radius 3px
    padding 1em
    display block
    a
      color #fff
    p
      font-size 2em
      color #87b123
      padding 0 2em
    h3
      display inline-block
      &:after
        display block
        content: ''
        background: #8c3c3c
        size 100% 2px
        opacity 0
        transform: scaleX(0)
        transition: all .5s ease-in
    &.__past
      background color + 20%
    &.__present
      background color - 50%
    &.__future
      background color - 20%
    &:hover
      box-shadow 2px 2px 10px color - 30%
      transition all .5s ease-out
      h3
        &:after
          opacity 1
          transform: scaleX(1)
          transition: all .5s ease-out
  label
    display block
    cursor pointer
    padding 1em
  span
    transition all .5s ease
    padding-left 0.5em
    position relative
    color #fff
    &:after
      content ''
      width 100%
      height 2px
      left 0
      bottom 0
      position absolute
      background red + 20%
      transition: all .5s ease
      transform scaleX(0)
  input:checked + span
    &:after
      transform scaleX(1)
