.sprint-single
  padding 2em
  color #fff
.sprint-list
  font-size 1em
  text-align left
  max-width 1200px
  display flex
  flex-flow row wrap
  align-content center

  &__item
    color = #812e2e
    color #fff
    cursor pointer
    border-radius 3px
    display block
    box-sizing border-box
    padding 10px
    margin 2%
    width 29%
    @media all and (max-width: 900px)
      margin 5%
      width 40%
    @media all and (max-width: 700px)
      margin 5%
      width 90%
    a
      color #fff
