.sprint-single
  padding 2em
  color #fff
.sprint-list
  font-size 1em
  text-align left
  max-width 1200px
  display flex
  flex-flow row wrap

  &__item
    color = #812e2e
    color #fff
    margin 1em
    transition all .5s ease-in
    cursor pointer
    border-radius 3px
    padding 1em
    display block
    flex-grow: 1
    a
      color #fff
    &.__past
      background #4343da
    &.__present
      background #106d10
    &.__future
      background #812e2e
